<ion-nav-view>

  <ion-pane>
    <ion-slide-box active-slide="activeSlide" pager-click="setSlide(index)">

      <ion-slide>
        <h2>Slide 1</h2>
        <p>
          This is the first slide
        </p>
      </ion-slide>

      <ion-slide>
        <h2>Slide 2</h2>
        <p>
          This is the second slide
        </p>
      </ion-slide>

    </ion-slide-box>

    <table class="my-table">
      <tr>
        <td> <button class="my-button"> Sign Up </button> </td>
        <td> <button class="my-button"> Log In </button> </td>
      </tr>
    </table>

  </ion-pane>

</ion-nav-view>
